<tbody>
  {{#each data}}
    <tr>
      <td>{{name}}</td>
      <td>{{formatDate purcharse_date}}</td>
      <td>{{formatDate maintenance.[0].date}}</td>
      <td>{{desired_maintenance}} días</td>
      <td>
        {{#if require_maintenance}}
          <span>Sí</span>
        {{else}}
          <span>No</span>
        {{/if}}
      </td>
    </tr>
  {{/each}}
</tbody>