<tbody>
  {{#each data}}
    <tr>
      <td>prioridad</td>
      <td>{{name}}</td>
      <td>{{maintenance.[0].userDetails.fullname}}</td>
      <td>{{formatDate purcharse_date}}</td>
      <td>{{formatDate maintenance.[0].date}}</td>
      <td>{{desired_maintenance}}</td>
    </tr>
  {{/each}}
</tbody>