<tbody>
  {{#each data}}
    <tr>
      <td>{{author.fullname}}</td>
      <td>{{name}}</td>
      <td>
        {{#each supplies}}
          {{#if @first}}
            {{this.name}}
          {{else}}
            ,
            {{this.name}}
          {{/if}}
        {{/each}}
      </td>
      <td>{{formatDate createdAt}}</td>
      <td>{{formatDate updatedAt}}</td>
    </tr>
  {{/each}}
</tbody>